extends ../empty_layout

block content
	.ui.container
		h2= title
		.ui.ordered.steps
			.active.step
				.content
					.title Database
					.description Configure database
			.step
				.content
					.title Gateway
					.description Connect to gateway
			.step
				.content
					.title User
					.description Create admin profile
		.ui.divider
		.ui.two.column.stackable.centered.grid
			.column
				.ui.raised.segments
					.ui.secondary.attached.segment
						h4 Database
					.ui.basic.segment
						h2.ui.header Select database
					.ui.basic.segment
						| If you don't know what database to use, choose the built-in database.
					.ui.basic.segment
						.ui.two.column.middle.aligned.very.relaxed.stackable.grid
							.column
								h3 External database
								.ui.bulleted.list
									.item Requires configuration
									.item Requires separate server
									.item Works faster than the built-in database
									.item Gives a performance boost
							.ui.vertical.divider Or
							.column
								h3 Built-in database
								.ui.bulleted.list
									.item Requires no configuration
									.item Stored as a file on the disk (SQLite) that can be easily copied or deleted
					.ui.attached.segment
						.ui.two.column.middle.aligned.very.relaxed.stackable.grid
							.center.aligned.column
								a.ui.button(href='/FirstRun/DataBase/External') External database
							.center.aligned.column
								a.ui.primary.button(href='/FirstRun/DataBase/Builtin') Built-in database
					.ui.center.aligned.attached.segment
						a(href='/FirstRun/DataBase/None') Skip this step. Don't use a database yet.

