extends firstrun_layout


block vars
	- var title='Database'
	- var activeStep=1


block page
	.ui.two.column.middle.aligned.very.relaxed.stackable.grid
		.column
			h3 External database
			.ui.bulleted.list
				.item Requires configuration
				.item Requires separate server
				.item Works faster than the built-in database
				.item Gives a performance boost
		.ui.vertical.divider Or
		.column
			h3 Built-in database
			.ui.bulleted.list
				.item Requires no configuration
				.item Stored as a file on the disk (SQLite) that can be easily copied or deleted


block footer
	.ui.attached.segment
		.ui.two.column.middle.aligned.very.relaxed.stackable.grid
			.center.aligned.column
				a.ui.button(href='/FirstRun/DataBase/External') External database
			.center.aligned.column
				a.ui.primary.button(href='/FirstRun/DataBase/Builtin') Built-in database
	.ui.center.aligned.attached.segment
		a(href='/FirstRun/DataBase/None') Skip this step. Don't use a database yet.

