extends firstrun_layout


block vars
	- var title='Firtst Run'
	- var activeStep=0


block page
	h2.ui.header Welcome to MyNodes.NET
	| This is the initial settings wizard.
	br
	| You will be offered the following steps:
	.ui.bulleted.list
		.item Configure database
		.item Connect to gateway
		.item Create Admin profile


block footer
	.ui.center.aligned.attached.segment
		.ui.buttons
			a.ui.primary.button(href='/FirstRun/Database') Well, let's start

