extends ../layout

block styles
    link(href='/libs/vis/dist/vis.min.css', rel='stylesheet')


block content
    br
    br
    br
    br

    .ui.container
        #empty-message.ui.message(style='display: none')
            p
                if (isEmpty)
                    | Dashboard is empty. To create controls, go to the
                    a(href="editor") Node Editor
        #panelsContainer.ui.stackable.centered.grid




    script#panelTemplate(type='text/x-handlebars-template').
        <div class="column" id="panel-{{panel_id}}" style="width:360px; max-width:360px">
        <div class="ui raised segments">
        <div class="ui secondary clearing segment">
        <div class="ui two column grid">
        <div class="fourteen wide column">
        <b><span id="panelTitle-{{panel_id}}"></span></b>
        </div>
        <div class="two wide right aligned column">
        <i class="square outline icon" id="activity-{{panel_id}}"></i>
        </div>
        </div>
        </div>
        <div id="uiContainer-{{panel_id}}" class="content">
        </div>
        </div>
        </div>

    script#timerTemplate(type='text/x-handlebars-template').
        <div class="ui attached clearing segment" id="node-{{id}}">
        <span id="nodeTitle-{{id}}"></span>
        <div class="ui small right floated basic buttons">
        <a href="/UITimer/Tasks/{{id}}" class="ui button" id="timer-open-{{id}}">Open</a>
        </div>
        </div>





block scripts
    script(type="text/javascript").
        var container_id = #{container_id};

    script(src='/libs/vis/dist/vis.min.js')
    //script(src='/js/mysensors.js')
    script(src='/libs/requirejs/require.js' data-main="/js/dashboard/dashboard")

