extends ../layout

block styles
    link(href='/libs/vis/dist/vis.min.css', rel='stylesheet')


block content
    br
    br
    br
    br

    .ui.container
        #empty-message.ui.message(style='display: none')
            p
                if (isEmpty)
                    | Dashboard is empty. To create controls, go to the
                    a(href="editor") Node Editor
        #panelsContainer.ui.stackable.centered.grid




    script#panelTemplate(type='text/x-handlebars-template').
        <div class="column" id="panel-{{panel_id}}" style="width:360px; max-width:360px">
        <div class="ui raised segments">
        <div class="ui secondary clearing segment">
        <div class="ui two column grid">
        <div class="fourteen wide column">
        <b><span id="panelTitle-{{panel_id}}"></span></b>
        </div>
        <div class="two wide right aligned column">
        <i class="square outline icon" id="activity-{{panel_id}}"></i>
        </div>
        </div>
        </div>
        <div id="uiContainer-{{panel_id}}" class="content">
        </div>
        </div>
        </div>
    script#labelTemplate(type='text/x-handlebars-template').
        <div class="ui attached clearing segment" id="node-{{id}}">
        <span id="labelName-{{id}}"></span>
        <div class="ui right floated basic disabled button nonbutton">
        <span class="ui blue basic label" id="labelValue-{{id}}"></span>
        </div>
        </div>
    script#stateTemplate(type='text/x-handlebars-template').
        <div class="ui attached clearing segment" id="node-{{id}}">
        <span id="stateName-{{id}}"></span>
        <div class="ui right floated basic disabled button nonbutton">
        <i class="big blue toggle on icon" id="state-on-{{id}}" style="display:none"></i>
        <i class="big toggle off icon" id="state-off-{{id}}" style="display:none"></i>
        <i class="big red toggle off icon" id="state-null-{{id}}" style="display:none"></i>
        </div>
        </div>
    script#textBoxTemplate(type='text/x-handlebars-template').
        <div class="ui attached clearing segment" id="node-{{id}}">
        <span id="textBoxName-{{id}}"></span>
        <div class="ui form text-box-form">
        <div class="ui field">
        <div class="ui small action input">
        <input type="text" id="textBoxText-{{id}}">
        <button type="button" class="ui small button" id="textBoxSend-{{id}}">Send</button>
        </div>
        </div>
        </div>
        </div>
    script#logTemplate(type='text/x-handlebars-template').
        <div class="ui attached clearing segment" id="node-{{id}}">
        <span id="logName-{{id}}"></span>
        <button type="button" class="ui right floated tiny button" id="clear-log-{{id}}">Clear</button>
        <br />
        <div class="ui segment" style="overflow-y: scroll; height: 150px;" id="log-{{id}}"></div>
        </div>
    script#progressTemplate(type='text/x-handlebars-template').
        <div class="ui attached clearing segment" id="node-{{id}}">
        <span id="progressName-{{id}}"></span>
        <div class="ui blue small progress" id="progressBar-{{id}}">
        <div class="bar">
        <div class="progress"></div>
        </div>
        </div>
        </div>
    script#buttonTemplate(type='text/x-handlebars-template').
        <div class="ui attached clearing segment" id="node-{{id}}">
        <button class="ui right floated small button" id="button-{{id}}">
        &nbsp <span id="buttonName-{{id}}"></span> &nbsp
        </button>
        </div>
    script#toggleButtonTemplate(type='text/x-handlebars-template').
        <div class="ui attached clearing segment" id="node-{{id}}">
        <button class="ui right floated small toggle button" id="button-{{id}}">
        &nbsp <span id="buttonName-{{id}}"></span> &nbsp
        </button>
        </div>
    script#switchTemplate(type='text/x-handlebars-template').
        <div class="ui attached clearing segment" id="node-{{id}}">
        <span id="switchName-{{id}}"></span>
        <div class="ui right floated basic  button nonbutton">
        <label class="switch">
        <input type="checkbox" class="switch-input" id="switch-{{id}}">
        <span class="switch-label" data-on="On" data-off="Off"></span>
        <span class="switch-handle"></span>
        </label>
        </div>
        </div>
    script#sliderTemplate(type='text/x-handlebars-template').
        <div class="ui attached clearing segment" id="node-{{id}}">
        <span id="sliderName-{{id}}"></span>
        <br />
        <div id="slider-{{id}}"></div>
        </div>
    script#rgbSlidersTemplate(type='text/x-handlebars-template').
        <div class="ui attached clearing segment" id="node-{{id}}">
        <span id="sliderName-{{id}}"></span>
        <br />
        <div id="slider-{{id}}-r" class="spacebottom"></div>
        <div id="slider-{{id}}-g" class="spacebottom"></div>
        <div id="slider-{{id}}-b"></div>
        </div>
    script#rgbwSlidersTemplate(type='text/x-handlebars-template').
        <div class="ui attached clearing segment" id="node-{{id}}">
        <span id="sliderName-{{id}}"></span>
        <br />
        <div id="slider-{{id}}-r" class="spacebottom"></div>
        <div id="slider-{{id}}-g" class="spacebottom"></div>
        <div id="slider-{{id}}-b" class="spacebottom"></div>
        <div id="slider-{{id}}-w"></div>
        </div>
    script#chartTemplate(type='text/x-handlebars-template').
        <div class="ui attached clearing segment" id="node-{{id}}">
        <div class="ui mini right floated basic buttons">
        @*<button type="button" class="ui button" id="chart-clear-{{id}}">Clr</button>*@
        <button type="button" class="ui button" id="chart-style-{{id}}">Style</button>
        <button type="button" class="ui button" id="chart-all-{{id}}">All</button>
        <button type="button" class="ui button" id="chart-now-{{id}}">Now</button>
        <a href="/Dashboard/Chart/{{id}}" class="ui button" id="chart-open-{{id}}">Open</a>
        </div>
        <span id="chartName-{{id}}"></span>
        <br />
        <br />
        <div id="chart-panel-{{id}}-">
        <div id="chart-body-{{id}}"></div>
        </div>
        </div>
    script#timerTemplate(type='text/x-handlebars-template').
        <div class="ui attached clearing segment" id="node-{{id}}">
        <span id="timer-name-{{id}}"></span>
        <div class="ui small right floated basic buttons">
        <a href="/UITimer/Tasks/{{id}}" class="ui button" id="timer-open-{{id}}">Open</a>
        </div>
        </div>
    script#voiceTemplate(type='text/x-handlebars-template').
        <div class="ui attached clearing segment" id="node-{{id}}">
        <span id="voiceName-{{id}}"></span>
        </div>
    script#audioTemplate(type='text/x-handlebars-template').
        <div class="ui attached clearing segment" id="node-{{id}}">
        <span id="audioName-{{id}}"></span>
        </div>
    script#stateSwitchTemplate(type='text/x-handlebars-template').
        <div class="ui attached clearing segment" id="node-{{id}}">
        <span id="stateSwitchName-{{id}}"></span>
        <div class="ui right floated basic  button nonbutton">
        <label class="switch">
        <input type="checkbox" class="switch-input" id="stateSwitch-{{id}}">
        <span class="switch-label" data-on="On" data-off="Off"></span>
        <span class="switch-handle"></span>
        </label>
        </div>
        </div>



block scripts
    script(src='/libs/vis/dist/vis.min.js')
    //script(src='/js/mysensors.js')
    script(src='/js/dashboard/dashboard.js')
    script(src='/js/dashboard/dashboard-audio.js')
    script(src='/js/dashboard/dashboard-chart.js')
    script(src='/js/dashboard/dashboard-log.js')
    script(src='/js/dashboard/dashboard-main.js')
    script(src='/js/dashboard/dashboard-rgbsliders.js')
    script(src='/js/dashboard/dashboard-slider.js')
    script(src='/js/dashboard/dashboard-sswitch.js')
    script(src='/js/dashboard/dashboard-timer.js')
    script(src='/js/dashboard/dashboard-voice-google.js')
    script(src='/js/dashboard/dashboard-voice-yandex.js')
