extends ../first_run_layout


block vars
	- var title='Admin'
	- var activeStep=2
	//- var canSkip=true


block page
	.ui.basic.segment
		h2.ui.header Admin profile
	.errors
		if (errors)
			ul.errors
				- each error in errors
					li= error.msg
	form.ui.form(method='post')
		.ui.basic.segment
			.field
				label Login
				input(type='text', name='name', id="name" value=user.name)
			.field
				label Email
				input(type='text', name='email', id="email" value=user.email)
			.fields
				.field
					label Password
					input(type='password', name='password', id="password")
				.field
					label Confirm Password
					input(type='password', name='c_password', id="c_password")
		.ui.center.aligned.attached.segment
			.ui.buttons
				input.ui.button.primary(type='submit', value='Register')
		if canSkip
			.ui.center.aligned.attached.segment
				a(href='/first-run/hardware') Skip this step. Use an existing profile.






