doctype html
html
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title= title
		//link(href='~/lib/animate.css/animate.min.css', rel='stylesheet')
		//----link(href='~/lib/font-awesome/css/font-awesome.min.css', rel='stylesheet')
		link(href='/libs/semantic/dist/semantic.min.css', rel='stylesheet')
		//link(href='~/css/daterangepicker/daterangepicker.min.css', rel='stylesheet')
		//link(href='~/css/slider/nouislider.css', rel='stylesheet')
		//link(href='~/css/switch/switch.css', rel='stylesheet')
		//link(rel='stylesheet', href='~/css/site.css')
		block styles
	body
		// Sidebar Menu
		.ui.inverted.vertical.menu.sidebar.thin
			.ui.container
				a.item.fadebefore(asp-controller='Dashboard', asp-action='Index') Dashboard
				a.item.fadebefore(asp-controller='Hardware', asp-action='Index') Hardware
				a.item.fadebefore(asp-controller='Logs', asp-action='Index') Logs
				a.item.fadebefore(asp-controller='Config', asp-action='Index') Config
				a.item.fadebefore(asp-controller='Home', asp-action='About') About
		// Header Menu
		.ui.fixed.big.borderless.main.menu
			.ui.container
				a.sidebar-button.showsmall.item
					i.sidebar.icon
				a.ui.item.fadebefore(asp-controller='Home', asp-action='About')
					h3 MyNodes.NET
		.pusher
			br
			br
			br
			block content


			//script(src='~/lib/jquery/dist/jquery.min.js')
			//script(src='~/lib/noty/js/noty/packaged/jquery.noty.packaged.min.js')
			//script(src='~/lib/moment/min/moment.min.js')
			//script(src='~/js/handlebars.min.js')
			script(src='/libs/semantic/dist/semantic.min.js')
			//script(src='~/js/daterangepicker/daterangepicker.js')
			//script(src='~/js/slider/nouislider.min.js')
			//script(asp-src-include='~/lib/signalr/jquery.signalr.js').
			//script(src='~/signalr/hubs', type='text/javascript')
			block scripts
			script.
				////page fade animation
				//$('.body-content').fadeIn(700);
				//$('#footer').fadeIn(700);
				//$('.fadebefore').click(function () {
				//    var href = $(this).attr('href');
				//    // do animation
				//    $('.body-content').fadeOut(400, function () {
				//        // go to link when animation completes
				//        window.location = href;
				//    });
				//    // over ride browser following link when clicked
				//    return false;
				//});
				// noty settings
				$.noty.defaults.layout = 'bottomRight';
				$.noty.defaults.theme = 'relax';
				$.noty.defaults.timeout = 3000;
				$.noty.defaults.animation = {
					open: 'animated bounceInRight', // Animate.css class names
					close: 'animated flipOutX', // Animate.css class names
					easing: 'swing', // unavailable - no need
					speed: 500 // unavailable - no need
				};
				$(document)
								.ready(function () {
									// show dropdown
									$('.ui.dropdown').dropdown({
										on: 'click'
									});
									// create sidebar and attach to menu open
									$('.ui.sidebar')
													.sidebar('attach events', '.sidebar-button');
								});
