doctype html

block vars

html
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title MyNodes: #{title}
		link(href='/libs/animate.css/animate.min.css', rel='stylesheet')
		//----link(href='/libs/font-awesome/css/font-awesome.min.css', rel='stylesheet')
		link(href='/libs/semantic/dist/semantic.min.css', rel='stylesheet')
		link(href='/css/daterangepicker/daterangepicker.min.css', rel='stylesheet')
		link(href='/css/slider/nouislider.css', rel='stylesheet')
		link(href='/css/switch/switch.css', rel='stylesheet')
		link(href='/css/main.css',rel='stylesheet')
		block styles
	body
		// Sidebar Menu
		.ui.inverted.vertical.menu.sidebar.thin
			.ui.container
				a.item.fadebefore(href='dashboard') Dashboard
				a.item.fadebefore(href='hardware') Hardware
				a.item.fadebefore(href='logs') Logs
				a.item.fadebefore(href='config') Config
				a.item.fadebefore(href='about') About
		// Header Menu
		.ui.fixed.big.borderless.main.menu
			.ui.container
				a.sidebar-button.showsmall.item
					i.sidebar.icon
				a.ui.item.fadebefore(href='/about')
					h3 MyNodes
			.rightmenu
				a.ui.button.right.floated(href='/editor/c/#{container_id}') Editor

		.pusher

			block content

			script(src='/libs/jquery/dist/jquery.min.js')
			script(src='/libs/noty/js/noty/packaged/jquery.noty.packaged.min.js')
			script(src='/libs/moment/min/moment.min.js')
			script(src='/libs/handlebars/handlebars.min.js')
			script(src='/libs/semantic/dist/semantic.min.js')
			script(src='/libs/socket.io-client/dist/socket.io.js')
			script(src='/js/libs/logplease.min.js')
			script(src='/libs/bootstrap-daterangepicker/daterangepicker.js')
			script(src='/libs/nouislider/distribute/nouislider.js')
			script.
				////page fade animation
				//$('.body-content').fadeIn(700);
				//$('#footer').fadeIn(700);
				//$('.fadebefore').click(function () {
				//    var href = $(this).attr('href');
				//    // do animation
				//    $('.body-content').fadeOut(400, function () {
				//        // go to link when animation completes
				//        window.location = href;
				//    });
				//    // over ride browser following link when clicked
				//    return false;
				//});
				// noty settings
				$.noty.defaults.layout = 'bottomRight';
				$.noty.defaults.theme = 'relax';
				$.noty.defaults.timeout = 3000;
				$.noty.defaults.animation = {
					open: 'animated bounceInRight', // Animate.css class names
					close: 'animated flipOutX', // Animate.css class names
					easing: 'swing', // unavailable - no need
					speed: 500 // unavailable - no need
				};

				$(document).ready(function () {
					// show dropdown
					$('.ui.dropdown').dropdown({on: 'click'});
					// create sidebar and attach to menu open
					$('.ui.sidebar').sidebar('attach events', '.sidebar-button');
				});
			block scripts
