doctype html
html
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title SingleHub: #{title}

		link(href='/libs/semantic/dist/semantic.min.css', rel='stylesheet', type="text/css")
		link(href='/css/main.css',rel='stylesheet', type="text/css")
		block styles

	body
		.header-menu
			.ui.fixed.big.borderless.main.menu
				.ui.container
					a.ui.item(href='about')
						h3 SingleHub
		.pusher
			block vars
			.content
				block content

			script(src='/libs/jquery/dist/jquery.min.js',type="application/javascript")
			script(src='/libs/semantic/dist/semantic.min.js',type="application/javascript")
			block scripts
			script.
				$(document)
								.ready(function () {
									// show dropdown
									$('.ui.dropdown').dropdown({on: 'click'});
								});