extends ./first_run_layout


block vars
    - var title='First Run'
    - var activeStep=0


block page
    .ui.attached.segment
        h2.ui.header Welcome to MyNodes
        | This is the initial settings wizard.
        br
        | You will be offered the following steps:
        br
        .ui.bulleted.list
            .item Configure database
            .item Connect to gateway
            .item Create Admin profile
    .ui.center.aligned.attached.segment
        .ui.buttons
            a.ui.primary.button(href='/first-run/database') Well, let's start

            