doctype html


html
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title SingleHub
        link(href='/css/node-editor.css',rel='stylesheet')
        link(href="/css/editor-theme0.css",rel='stylesheet')

    body
 
      #main
     
      
          script.
              //this var used in node-editor
              var container_id = "0";
              var theme = "0"



          script(src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous")
          script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js')
          script(src='https://cdn.jsdelivr.net/npm/logplease@1.2.14/dist/logplease.min.js')
          script(data-main="/js/editor/editor" src='https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.5/require.min.js')


