doctype html
html
	head
		title SingleHub
	frameset(cols='400px,*')
		frame(name='dashboard', src='/dashboard/c/#{container_id}', scrolling='AUTO')
		frame(name='editor', src='/editor/c/#{container_id}?split=true', scrolling='AUTO')
