doctype html
html
	head
		title MyNodes.NET
	frameset(cols='400px,*')
		frame(name='dashboard', src='/dashboard/#{route}', scrolling='AUTO')
		frame(name='editor', src='/editor/#{route}?split=true', scrolling='AUTO')
