extends ../first_run_layout


block vars
	- var title='Hardware'
	- var activeStep=3


block page
	.ui.basic.segment
		h2.ui.header Connect hardware
	//.ui.basic.segment
	//	| Select which hardware you have.
	//	br
	//	| You can skip this step if you have no hardware for now.
	.ui.basic.segment

		//.ui.two.column.middle.aligned.very.relaxed.stackable.grid
			//.column
			//	h3 Serial gateway
			//	.ui.bulleted.list
			//		.item Connects to the server via USB cable
			//		.item Better performance
			////.ui.vertical.divider Or
			//.column
			//	h3 Ethernet gateway
			//	.ui.bulleted.list
			//		.item This can be Ethernet or Wi-Fi gateway
			//		.item Connection is made remotely via TCP port
			//		.item
			//			| If the gateway is not in the same network with the server, then you need to forward the port in the router
	.ui.attached.segment
		| This functionality will be available later.

		//.ui.two.column.middle.aligned.very.relaxed.stackable.grid
		//	.center.aligned.column
		//		a.ui.primary.button(href='/first-run/gateway/serial') Serial gateway
		//	.center.aligned.column
		//		a.ui.primary.button(href='/first-run/gateway/ethernet') Ethernet gateway
	.ui.center.aligned.attached.segment
		a(href='/first-run/hardware/none') Skip this step. Don't use hardware.




