extends ../first_run_layout


block vars
	- var title='Database'
	- var activeStep=1


block page
	.ui.basic.segment
		h2.ui.header External database
	form.ui.form(method='Post')
		.ui.attached.segment
			.field
				label Connection string
				input(type="text", name="connectionString")
		.ui.center.aligned.attached.segment
			.ui.buttons
				a.ui.button(href='/first-run/database') Cancel
				input.ui.button.primary(type='submit', value='Connect')


