extends ../firstrun_layout


block vars
	- var title='Database'
	- var activeStep=1


block page
	.ui.attached.segment
		h2.ui.header Database is not empty
		p
		| Database already stores the data. Do you want to delete the old data?
	.ui.center.aligned.attached.segment
		a.ui.red.button(href='/FirstRun/Database/Delete') Yes. Delete all data
		a.ui.primary.button(href='/FirstRun/Database/Use') No. Use old data



